src/main/resources/Medicines.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="medicines">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="medicine" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="analogs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="analog" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="versions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="version" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="certificate">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:byte" name="number" use="optional"/>
                                            <xs:attribute type="xs:long" name="issueDate" use="optional"/>
                                            <xs:attribute type="xs:long" name="expiryDate" use="optional"/>
                                            <xs:attribute type="xs:string" name="organization" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="package">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                            <xs:attribute type="xs:byte" name="quantity" use="optional"/>
                                            <xs:attribute type="xs:float" name="price" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="dosage">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:byte" name="amount" use="optional"/>
                                            <xs:attribute type="xs:byte" name="period" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:string" name="pharm" use="optional"/>
                        <xs:attribute type="xs:string" name="group" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>